[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "simulateDCE"]
	path = simulateDCE
	url = https://github.com/sagebiej/simulatedce
